@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

body {
  text-align: center;

}

.card__container {
  padding-top: 1900px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
  transition: all 0.2s ease;
  box-shadow: #43291f;
}

@media (min-width: 768px) {
  .open .card__container {
    transform: translate(0%, -50%);
  }
}

.card {
  max-width: 450px;
  max-height: 550px;
  width: 80vw;
  height: 200vw;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  transition: all 1s ease;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

.open .card {
  transform: rotateX(0deg);
}

.card__panel {
  border: 8px solid #43291f;
  position: absolute;
  border-radius: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 1s ease;
  backface-visibility: visible;
  transform-origin: left;
  transform-style: preserve-3D;
  transform: rotate3d(0, 1, 0, 0deg);
}

.card__panel--front {
  backface-visibility: hidden;
  background-color: #da2c38;
  z-index: 1;
}

.open .card__panel--front {
  transform: rotate3d(0, 1, 0, -170deg);
}

.open .card__panel--inside-left {
  transform: rotate3d(0, 1, 0, -170deg);
}

.card__panel--inside-right {
  border-left: none;
  background-color: #da2c38;
  z-index: -1;
}

.card__panel--inside-right h1 {
  font-family: 'Dancing Script';
  font-size: 72px;
  border-left: none;
}

.card__panel--inside-left h1 {
  font-family: 'Dancing Script';
  font-size: 72px;
  border-left: none;
}

.card__panel--inside-left {
  background-color: #da2c38;
  z-index: 0;
  backface-visibility: visible;
  /* Ensures the back face is not visible */
}

.card__panel--inside-left h1 {
  transform: rotateY(180deg);
  /* Resets any rotation on the text */
  text-align: center;
  /* Ensures proper alignment */
}